body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff0f5;
}

header {
  background: #c2185b;
  color: white;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  padding: 60px;
  text-align: center;
  background: linear-gradient(to right, #ff4b7d, #ff758c);
  color: white;
}

.container {
  padding: 20px;
  text-align: center;
}

img {
  border-radius: 10px;
  margin: 10px;
}

footer {
  background: #c2185b;
  color: white;
  text-align: center;
  padding: 10px;
}
